[2020-09-11 10:35] miyconst opened #1 "Add info about Huananzhi X99-F8D & X99-T8D motherboards"
The information shall be added here:

- Text: [Model.json](https://github.com/miyconst/Mi899/blob/master/src/Mi899.Data/Model.json) file.
- Images: [Images](https://github.com/miyconst/Mi899/tree/master/src/Mi899.Data/Images) folder.

The result should be committed to a separate branch with a pull request.

[2020-09-21 19:20] #1 closed

[2020-10-28 23:32] paulocmarques opened #22 "Huananzhi X99-TF vs Huananzhi X99-F8"
Are the Huananzhi x99-TF and Huananzhi x99-F8 BIOSes interchangeable? When I select the Huananzhi x99-TF in the Mi899 tool, the TF and F8 BIOS are listed together. Is this right? Can I use, for example, the BIOS "Stock Huananzhi X99-F8 BIOS, TU FFS" without problems on the Huananzhi x99-TF? Or another with TURBO UNLOCK?

[2020-10-29 09:30] miyconst commented on #22
Yes, Huananzhi X99-TF / X99-T8 / X99-F8 all have interchangeable BIOS.

[2020-10-29 09:30] #22 closed

[2020-12-07 20:11] hvintik opened #23 "Add Kllisre x99-d4 BIOS with turbo boost unlock"
Hello,

Can you please add a rom for Kllisre x99-d4 with the turbo boost unlock?

BTW, I've tried to flash x99-f8 bios but something is wrong with UEFI (it does not see boot devices), I could only boot Windows after I removed and installed a CMOS battery back.

Thanks in advance.

Thank you,

[2020-12-07 20:24] miyconst commented on #23
Kllisre X99-D4 motherboard is compatible with the Huananzhi X99-F8 BIOS, thus I see no reason to create X99-D4 specific modifications. The UEFI boot issue is present in both BIOS versions and you can try to workaround it by disabling Legacy mode for your storage devices when using the X99-F8 BIOS.

If you would want to have the original X99-D4 BIOS modified for Turbo Unlock, it's very easy to perf

[2020-12-07 20:24] #23 closed

[2020-12-07 20:45] hvintik commented on #23
Thanks for the tip.

I've just tried to switch the CSM setting to use UEFI only and it worked.
Looks like I did not notice this since on the original bios it was UEFI by default.

[2020-12-15 17:02] rafaelreis-r opened #24 "Update Machinist X99z V102 BIOS-iEngineer to latest version"
Hey @miyconst!

It would be great to have latest release [C612RD24](https://github.com/BIOS-iEngineer/MACHINIST-X99ZV102 ) from BIOS-iEngineer in Mi899 with TU, FFS, Undervolt.

I'm happy to help and do the work of modding the BIOSes following Mi899 release pattern:

![image](https://user-images.githubusercontent.com/57492577/102246757-d9efd480-3edd-11eb-8b02-667a9240f81e.png)

However, although I

[2020-12-18 08:09] miyconst commented on #24
Hello @rafaelreis-r and thank you for the proposed help, I would really appreciate it.

Here you can find my guides how to implement a Turbo Boost Unlocked BIOS: [Xeon E5-2600 V3 Turbo Boost Unlock](http://www.miyconst.com/Blog/View/2081/xeon-e5-2600-v3-turbo-boost-unlock).

You can also investigate this guide (in Russian), which claims to preserve Sleep Mode even with Turbo Boost Unlock implement

[2020-12-26 01:23] miyconst commented on #24
The latest [Machinist X99Z BIOS from iEngineer](https://github.com/BIOS-iEngineer/MACHINIST-X99ZV102) has been added and released in the 1.1.0 version.

[2020-12-26 01:23] #24 closed

[2020-12-26 02:54] rafaelreis-r commented on #24
Awesome. Thank you. Sorry I couldn't get to this sooner. Had to go away for the holidays due to increasing restrictions with the pandemic, was only going to tackle it by Jan 4th.
Again, awesome work!

[2020-12-28 11:36] ancarvmed opened #26 "New motherboard Kllisre X99 D4"
new motherboard Kllisre x99 d4, link attached, hope you can support this motherboard soon.

[https://es.aliexpress.com/item/4000974911783.html?spm=a219c.12010612.8148356.34.ca1271d85wRomB](url)

Thank you

[2020-12-28 11:56] miyconst commented on #26
This is yet another revision of the very low quality PlexHD / X99-Turbo / Atermiter motherboard. Due to its low quality I do not plan to review or support this board. I also do not recommend anyone to buy this board.

[2020-12-28 11:56] #26 closed

[2020-12-28 13:54] ancarvmed commented on #26
I have a problem, I have bought that board and I would like to unlock turbo boost, how can I do it?

Thank you.

[2020-12-28 13:59] miyconst commented on #26
You can follow my and only my guides:

- [Xeon E5-2600 V3 Turbo Boost Unlock](http://www.miyconst.com/Blog/View/2081/xeon-e5-2600-v3-turbo-boost-unlock).
- [Добавляем анлок в биос раз и навсегда через S3TurboTool](https://xeon-e5450.ru/socket-2011-3/e5-2600-v3/dobavlyaem-anlok-v-bios-raz-i-navsegda-cherez-s3turbotool/).

[2020-12-28 14:08] ancarvmed commented on #26
What motherboard do you recommend for a 2678 v3?

Thanks for your help, you do a great job.

Thank you.

[2020-12-28 15:21] miyconst commented on #26
I would recommend Huananzhi [X99-TF](https://s.click.aliexpress.com/e/_9G9w65) / [X99-F8](https://s.click.aliexpress.com/e/_AcVXvf) / [X99-T8](https://s.click.aliexpress.com/e/_AKwpQt) or JingSha [X99-D8](https://s.click.aliexpress.com/e/_A0FPJ7).

[2021-01-16 23:33] JuanjoNuevo opened #30 "Hi, problems with x99-f8 gaming getting freezes on no undervolting"
I tried your program latest version on huananzhi x99-f8 gaming (DDR4 support, not the T8 version), with xeon 2678v3. Getting some windows freezes using the no undervolt version, so i'm not even trying the undervolted versions.
Btw, huananzhi has released a bios on the webpage from 2020-8-17. maybe the bios you were using was outdated? I can see a lot more options on the bios, from the new version

[2021-01-17 04:43] miyconst commented on #30
@JuanjoNuevo could you please specify, which exactly BIOS did you use to get freezes and what is/was the flashing procedure?

I do not have any X99-F8 on my hands to test the latest Huananzhi BIOS, and I don't add untested BIOS options into my app. If someone will produce Turbo Unlocked modifications and test them for me - I will add it to the app.

[2021-01-17 09:40] JuanjoNuevo commented on #30
Stock Huananzhi X99-F8 BIOS, TU FFS
Chipsets: X99, C612.
BIOS Settings: Default.
CPU Voltage: Default.
IMC Voltage: Default.
Turbo Unlock Driver: v3_payne_0_0.ffs.
Thats the Bios, i'm getting freezes from your program. Of course, i'm not trying v3_payne_50_50.ffs or v3_payne_70_50.ffs. version or lower, cause 0_0 is getting freezed, more undervolting will get more freezes.

To get your bios workin

[2021-01-17 09:41] JuanjoNuevo commented on #30
it's supossed that v3_payne gives turbo unlock. so the cpu gets to 3,1-3,3ghz on all cores during long periods of time.

[2021-01-17 10:20] JuanjoNuevo commented on #30
Okay, i tried with afudos insteed the Flash Programming Tool (FPT) with your program, everything working now well i think. I passed intel burn test with v3_payne_70_50.ffs after trying v3_payne_0_0.ffs and worked. do not recommend using FPT with your program on those bios. seems like they don't write well or something. afudos is more trusted.

[2021-01-17 10:20] #30 closed

[2021-01-17 11:22] miyconst commented on #30
Could you clarify. After restart, did you go to the BIOS and did you restore the default BIOS settings?

[2021-01-17 11:36] JuanjoNuevo commented on #30
Yeah, i restored defaults and then restarted and still getting freezes. Now with afudos all working well

[2021-01-17 11:42] miyconst commented on #30
@JuanjoNuevo, you might have got a motherboard with a "rebranded" BIOS chip. Chinese do that every now and then. I have a sample with such a chip and it also gives strange results, some BIOS files can't be written at all, seems like some bits of the chip are dead.

Anyway, thank you very much for sharing the experience with me.

[2021-01-23 05:35] parkournerd opened #31 "Turbo Boost Unlock Very Unstable with X99-8M-F and E5-2678v3"
I'm surprised that this is the first issue posted. Thanks for all your great work. It seems like this must be more of a passion for you than business.

Anyway, I was able to flash the BIOS with RAM timing unlock on this combination, but even the BIOS with Turbo Boost Unlock and no undervoltage was unstable enough that I could not get into Windows without unplugging all accessories and then using T

[2021-01-23 05:45] parkournerd commented on #31
It seems like I just need to install the EFI driver for the normal voltage / turb boost unlock BIOS and I am currently looking to see if you have a guide for that.

[2021-01-23 06:06] parkournerd commented on #31
Couldn't figure it out until now, but it was just because C3/6 were enabled by default in the BIOS flashed. Yay!

[2021-01-23 07:11] miyconst commented on #31
Thank you for testing Mi899 and reporting back. Could you please specify which exact BIOS you used? Usually I try to set all necessarily default settings correctly, and the only required thing after flash is "Restore defaults" in the BIOS. Probably I have missed something, since C3/C6 was enabled. By the way, the PEI region injected drivers require C3 state to be enabled for the best configuration

[2021-01-23 08:26] parkournerd commented on #31
Worked with C3 BIOS default:
- hz-x99-8m-f.tp.rom

Windows booting froze until I disabled C3/C6 (forgot by now):
- hz-x99-8m-f.tp.tu.rom
- hz-x99-8m-f.tp.s3tt.5050.rom
- hz-x99-8m-f.tp.s3tt.7050.rom

I tried with C3 enabled as per your link (https://xeon-e5450.ru/socket-2011-3/e5-2600-v3/dobavlyaem-anlok-v-bios-raz-i-navsegda-cherez-s3turbotool/) and that worked.

However, in the process of changi

[2021-01-23 08:46] miyconst commented on #31
Okay, here how it goes:

- `hz-x99-8m-f.tp.tu.rom` - does not have any drivers in the BIOS, you have to disable C3/C6 and install an EFI driver manually.
- `hz-x99-8m-f.tp.s3tt.5050.rom` - uses an `S3TurboTool` driver, C3 - Enable, C6 - Disable.
- `hz-x99-8m-f.tp.s3tt.7050.rom` - uses an `S3TurboTool` driver, C3 - Enable, C6 - Disable.

Please let me know if you have different experience.

-------

[2021-01-23 08:55] parkournerd commented on #31
- Hz-x99-8m-f.tp.tu.rom worked with C6 Package C State limit and C3/C6 reporting disabled
- Hz-x99-8m-f.tp.s3tt.5050.rom and hz-x99-8m-f.tp.s3tt.7050.rom worked with C2 Package C State limit and C6 reporting disabled

-

I was able to boot back into UEFI mode by setting filtering to UEFI instead of UEFI and Legacy. I do not know if this will last though. It seems sporadic.

I can confirm those C3

[2021-01-23 17:18] miyconst commented on #31
Then it seems like the issues are solved, at least for now. Closing the issue.

[2021-01-23 17:18] #31 closed

[2021-02-10 08:16] necros2k7 opened #32 "Any update or mod for X79-SERVER V1.1 mobo?"
current BIOS - X79DT00A 01-13-2020 17:03:19

[2021-02-10 08:17] necros2k7 opened #33 "Any update or mod for X79MA006 1APEQ 0.20 06-13-2019 17:46:31?"
Thanx

[2021-02-11 07:42] miyconst commented on #33
What kind of mod are you looking for?

[2021-02-11 07:42] miyconst commented on #32
What kind of mod are you looking for?

[2021-02-11 22:01] necros2k7 commented on #33
memory OC unlock for example

[2021-02-11 22:01] necros2k7 commented on #32
memory OC unlock for example

[2021-02-12 07:25] miyconst commented on #33
No, there is nothing planned for the X79 platform, at least from me.

[2021-02-12 07:25] #33 closed

[2021-02-12 07:27] miyconst commented on #32
No, there is nothing planned for the X79 platform, at least from me.

[2021-02-12 07:27] #32 closed

[2021-02-18 00:47] rashkiller opened #34 "Huananzhi x99 f8"
I have an x99 with a 2678v3 and it does not restart, the screen remains black after hitting restart on w10.

[2021-02-18 03:58] miyconst commented on #34
@rashkiller could you please specify how the issue is related to Mi899?

[2021-02-18 08:57] rashkiller commented on #34
Sorry, maybe not a software specific bug, but it happens to me since I change the BIOS with the Mi899.

[2021-02-18 09:06] miyconst commented on #34
Mi899 does nothing with the BIOS or hardware, it's just a collection of BIOS mods and X99  BIOS flashing software.

It could be that your X99-TF is a newer revision, which is not fully compatible with the original BIOS, to be able to say anything more, I need to know which BIOS you used, and have the motherboard on hands for testing.

How long did you wait for the reboot? My X99-TF takes ages to r

[2021-02-18 15:25] rashkiller commented on #34
I have X99-F8 and It takes about 1 minute to reboot.
I used the BIOS from Mi899: Stock Huananzhi X99-F8 TU FFS -70/50mV
Before update, the computer restart normally

[2021-02-18 16:30] miyconst commented on #34
Then it behaves as expected. The new Huananzhi BIOS you had before does not have O.C. and RAM timings features, the old one has the features, but boots and reboots very slow, you pick what is important for you.

There is nothing Mi899 can do about it, unfortunately.

[2021-02-18 16:30] #34 closed

[2021-03-05 10:06] MG95TUX opened #35 "Huananzhi X99 F8 TF T8 PEI BIOS too much undervolting"
Hi,
I'm writing this since I noted that, on diverse cases, using PEI BIOS with -70/50 on Xeon 2678v3 on Huananzhi X99 F8, T8 or TF (me and some of my friends went full X99, and everybody got one of those three motherboards, accordingly with what RAM was spare at home / someone likes white boards)  can introduce some instability on the system, expecially if you leave your PC doing high load tasks a

[2021-03-05 10:43] miyconst commented on #35
I will do the BIOS mods for you.

[2021-03-05 12:23] MG95TUX commented on #35
Thank you, you are great! I will gladly test it as soon as it is ready, and give you feedback, for all three boards!

[2021-03-21 23:33] Simoste1969 commented on #35
same for me

[2021-03-21 23:35] Renegade25 commented on #35
That's the same issue i have

[2021-03-24 12:14] chuckyto opened #36 "Problem with the last version 1.2.1"
If I try to download PEI versions for my TF motherboard, a window comes up showing the file could not be located.
![image](https://user-images.githubusercontent.com/66599759/112308709-bbe6fc80-8ca2-11eb-91f5-17dfdd64e530.png)

[2021-03-24 12:16] chuckyto commented on #36
In fact, I just found there is no BIOSES folder included in the zip :)

[2021-03-24 12:19] miyconst commented on #36
@chuckyto thank you for reporting the issue, it has already been fixed, but not yet deployed.

The BIOS folder is no longer included with the distributed archive, because it's too large, instead the BIOS files are downloaded form GitHub. You can still get the desired BIOS file by attempting to flash it, Mi899 will download it from the Internet and locate into a temp folder for you.

[2021-03-25 15:56] Daxterciox opened #37 "There is no custom bios for the motherboard Huananzhi BD4, ¿Can you make It?"

[2021-03-26 15:39] miyconst commented on #37
I have not yet tested this motherboard, thus I can't publish a BIOS for it. The BIOS will be available if I get the motherboard or someone donates me one for testing.

[2021-03-26 15:39] #37 closed

[2021-03-29 11:09] chuckyto commented on #36
Great! Thank you.
It is better this way, Mi899 was getting huge, hehehe

[2021-03-30 11:31] popers opened #38 "Error 73"
Hello
My motherboard shows error code 73 while booting, after restarting the computer everything returns to normal and the code AA is displayed. I tested various bios, including factory ones from the huananzhi website, and still the same problem. Any idea how to solve this problem?

[2021-03-30 19:37] lorranmoura opened #39 "Enable 4 gpu on the X99 F8"
Hello @miyconst .

I updated the bios of my x99 f8.

I'm having trouble plugging in several video cards, only allowing 3 gpu. when i add gpu 4 the code d4 appears. and does not let the system start.

how do i connect 4 gpus on f8?

[2021-03-30 19:52] miyconst commented on #38
Hi @popers. I have exactly the same behavior with all tested Huananzhi X99-TF/F8 and JingSha X99-D8 boards. Since this "issue" does not really affect the performance, I don't think you should bother about it.

Myself, I was not able to solve it either.

[2021-03-30 19:52] #38 closed

[2021-03-30 19:54] miyconst commented on #39
Hi @lorranmoura. Unfortunately, I don't know how to connect 4 GPUs on these motherboards, and I have never tested that. If I will have a chance, I will validate it, but so far I can't really say much.

[2021-03-30 19:57] lorranmoura commented on #39
@miyconst

is there an option to enable above 4g decoding? x99 f8

I didn't find it in the bios.

[2021-03-30 19:58] lorranmoura commented on #39
@miyconst note: I am using the motherboard for mining.

[2021-04-05 17:24] solnyshok opened #40 "error after flashing X99-F8 with Koshak BIOS"
I used Mi899 to flash [https://github.com/Koshak1013/HuananzhiX99_BIOS_mods/tree/master/Huananzhi%20X99-F8/2020-05-25%20(%D1%80%D0%B5%D0%BA%D0%BE%D0%BC%D0%B5%D0%BD%D0%B4%D1%83%D0%B5%D1%82%D1%81%D1%8F)]. First I chose FPT option, had some errors (sorry, no screenshot, but it flashed several blocks 4 I think, then failed). So I immediately reflashed BIOS with Afuwin option, and it looked all nice, n

[2021-04-05 17:44] miyconst commented on #40
It's time to order a CH341A and restore the motherboard BIOS, something went wrong and you have got a corrupted BIOS on the motherboard.

Here you will find basic instructions of how to use CH341A - [CH341a - minimal usage guide, how to read and write a motherboard BIOS](https://www.miyconst.com/Blog/View/2086/ch341a-minimal-usage-guide-how-to-read-and-write-a-motherboard-bios).

[2021-04-05 17:44] #40 closed

[2021-04-05 22:00] robante15 opened #41 "[Question] Huananzhi X99 F8 Error Code 67 or b7"
A few days ago I flashed the BIOS "Stock Huananzhi X99-F8, Myconst optimized" on my motherboard and for a couple of days it worked fine, yesterday it started to green screen me for milliseconds and it kept working.

Now while I was using it it froze, and when restarting it it no longer worked, the error code it shows is 67 or b7, I already tried to clean the CMOS, disconnect all the peripherals, r

[2021-04-05 23:31] speedyb0y commented on #37
With all the tools @miyconst have provide, and all his videos you can actually learn to customize your BIOS.
The first time you do it it's very hard but once you do it becomes very easy.

It's not nice to wait for him to edit and publish custom BIOS for all the motherboards with all the combinations of configurations, overclockings and options available...

the amount of money and time this guy al

[2021-04-05 23:40] speedyb0y commented on #37
@Daxterciox  this is the guide I followed to make my BIOS

I used Google Translate on the page as I don't speak russian.

1) Please save your original BIOS before trying it
2) I used a windows installation just to do it as I don't like to download all those .exe files from unknown sources
I even found a tool to change your boot log lol

https://xeon-e5450.ru/socket-2011-3/e5-2600-v3/dobavlyaem-anl

[2021-04-06 07:09] miyconst commented on #41
The `Stock Huananzhi X99-F8, Myconst optimized` BIOS is exactly the same as the original BIOS, I have only modified some fan, RAM, and CPU settings.

Something has happened to the motherboard, and it's not related to Mi899.

To be able to identify which component is the culprit, you have to swap them one by one and test, I could offer some help if you can deliver the motherboard to me.

---------

[2021-04-06 07:09] #41 closed

[2021-04-09 14:48] MG95TUX commented on #35
Hi,
I noticed you uploaded PEI -50/50 and -60/50, so I gave them a test first (on a F8), then suggested to my friends and they gave some good feedbacks for TF and T8 too. I (we) can say that those BIOSes work really good, no real bugs, the only thing we noticed is that, on first boot after flashing and resetting to default, already attached USB peripherals on front panel act weird, but once discon

[2021-04-16 18:12] miyconst commented on #35
@MG95TUX thank you for testing and the support. I am going to keep the issue open until the next version of Mi899 released.

[2021-04-19 18:44] altobalta commented on #35
Hi, same issue here with a Jingsha x99 D8 and Huananzhi X99 F8 Bios -70/50. Can't find the link for the download for -60/50 or -50/50, if someone can tell me would be nice!
Miyconst, do you think is possible to use PEI version with Jingsha D8 motherboard ?
Thanks

[2021-04-19 20:27] miyconst commented on #35
@altobalta here is a BIOS you can use - [`huananzhi-x99-f8.s3tt.5050.mi8.rom.zip`](https://github.com/miyconst/Mi899/blob/master/src/Mi899.Data/Bioses/huananzhi-x99-f8.s3tt.5050.mi8.rom.zip), and yes, it's possible to use it with JingSha X99-D8, I do it myself.

[2021-04-19 21:45] altobalta commented on #35
Thank you man, is very kind of you. The -60/50 is not stable enough ?

[2021-04-19 21:49] MG95TUX commented on #35
-60/50 is usually stable, unless you got very unlucky and got a very bad CPU... -50/50 is like safest choice, you could probably lose something versus -60/50 due to hitting power limits sooner, but you're absolutely sure that it works (if you're assembling the PC for yourself, go for -60/50 and give it a go, if you're assembling it for someone who is not into this world, install -50/50 and you'll

[2021-04-19 22:29] altobalta commented on #35
Thank you again for this explanation. It is for me, so I'll try the -60/50 first. All the best!

[2021-04-21 14:02] #35 closed

[2021-04-21 14:02] miyconst commented on #36
Fixed in [`1.2.2`](https://github.com/miyconst/Mi899/releases/tag/1.2.2).

[2021-04-21 14:02] #36 closed

[2021-04-21 14:34] sakurov opened #42 "Jingsha x99 dual support"
Hello, @miyconst, are you planning to add Jingsha x99 Dual to you awesome tool? I tried to use your instructions from YouTube and the text version from you web site, but I didn't reach the positive result. I did everything step by step and each step of instruction was successful, but after restart I have no Turbo Boost. Could you help me with this?

[2021-04-21 14:53] miyconst commented on #42
Hi @sakurov. I do not add BIOS options to the tool without testing them. If I happen to have a JingSha X99 Dual on my hands again, I will add its support to Mi899.

Most likely you did everything right, but as far as I know, the method I have described is not compatible with dual socket motherboards. You can try this one instead: [Добавляем анлок в биос раз и навсегда через S3TurboTool](https://xe

[2021-04-21 14:53] #42 closed

[2021-04-21 22:58] andres-skywalker commented on #35
Hello miyconst.
Congratulations on your development. Would you know what is the best bios for Huananzhi f8 v2 + e5 2640v3? I've flashed huananzhi-x99-f8.tu.v3p70.ffs.mi8 and huananzhi-x99-f8.s3tt.7050.mi8.rom, however I noticed a problem when restarting the PC. when restarting the system freezes on the windows login screen. When you turn on the PC everything goes smoothly.

[2021-04-21 23:08] MG95TUX commented on #35
Follow this message, use pei BIOS to have working sleep mode

[2021-04-21 23:42] andres-skywalker commented on #35
I tested the -50/50 and -60/50, but unfortunately the problem remains. When restarting the PC the screen freezes on the windows login. It is a small problem because when I do the normal boot without restarting everything works perfectly.

[2021-04-22 06:55] sakurov commented on #42
Thank you for advice! I reached the successful result with that instruction. I think that my problem was in Bios version, I had a 04.14.2020, and yesterday I flashed 01.08.2020, I got some troubles with boot options, but I solved them by linux live cd. After that I got Unlock.

[2021-04-23 07:01] miyconst commented on #35
Then it's probably related to the BIOS itself, not to undervolting. Actually, I am getting similar issue with my JingSha X99-D8, but not always, in my case it doesn't matter which BIOS I use though.

[2021-04-24 01:55] andres-skywalker commented on #35
I solved the problem. It really has nothing to do with the undervolt. Believe it is a problem with motherboard drivers. Even the official drivers of huananzhi are incomplete and archaic (I believe that in all Chinese motherboards it is like that). I used a program called Driver Reviver (I activated the option to update beta drivers). After that the boot is incredibly fast (I use a nvme). I just ha

[2021-04-24 11:40] WagnerBezerra2021 opened #43 "kllisre x99 v201 compatible bios"
All right, my friend. I would like to know which bios is compatible with the motherboard kllisre x99 v201. Because in the MI899 program there are no bios when I click on her image. Thank you for the excellent work.

[2021-04-24 18:13] miyconst commented on #43
My review for Kllisre X99 V201 is available here - [🇬🇧 Jginyue X99M-Plus D4, Qiyida X99-H9, Kllisre X99 V201, Machinist X99-RS9 – tests and conclusion](https://youtu.be/q7lRrVK6O7E). In short, the motherboard is compatible with Huananzhi X99-8M-F BIOS.

[2021-04-24 18:13] #43 closed

[2021-04-29 13:59] Yavahel opened #44 "Problem adding RAM to Huananzhi X99-F8"
Hi,

This is not an issue related to your BIOS mod but maybe you can help me.
I have installed 4 8GB ECC DIMMs on my X99-F8 and had no problems.
After that i bought 4 more DIMMs (same shop) and I replaced the old ones in order to test its funcionality and everything ok.
The problem is when I try to install all 8 DIMMs.
First I had 4 DIMMs (in the 4 slots together) and I put the other 4 in the free

[2021-04-30 15:40] miyconst commented on #44
Please do not use this repository to ask Mi899 unrelated questions. Closing the issue, but feel free to contact me on Instagram or Discord, if you need any help.

[2021-04-30 15:40] #44 closed

[2021-07-01 01:07] fish7221 opened #45 "Uefi boot barely works on JingSha X99M-H2"
I've flashed the JingSha X99M-H2 motherboard with "X99M-G2 Miyconst optimal" and also tried the "TU FFS -50/50mv", But on both bioses my 970 evo nvme 1TB boot drive wasn't detected as UEFI drive so there was no windows boot manager to boot from.
Rarely it detected the drive correctly and booted via windows boot manager mode (After resetting bios to defaults many times and rebooting the system abou

[2021-07-01 20:50] miyconst commented on #45
This is a known issue of many Chinese X99 motherboards. Unfortunately, there is nothing I can do about it. If you are interested to get a better BIOS without this issue, you can contact [BIOS-iEngineer](https://github.com/BIOS-iEngineer).

If you want to just resolve the current issue, you have a few options:

- Install Windows in CSM mode.
- Try to restore the UEFI partition with the Windows Inst

[2021-07-01 20:50] #45 closed

[2021-07-02 04:37] fish7221 commented on #45
Thank you very much for the detailed info.

[2021-07-07 04:31] sidaonarua opened #46 "Chipset c226"
Hello friend!

I recently purchased a Machinist X99 RS9 motherboard with the C226 chipset.
Is it possible to perform Unlock Turbo Boost on this chipset?
Could you please add support for this chipset in your application?
Thanks in advance.

[2021-07-07 16:49] miyconst commented on #46
Hi @sidaonarua.

I have not had any motherboard with C226 chipset yet, but as far as I know it's compatible with the BIOS options for the B85/H81 chipsets.

If I get a C226 motherboard on my hands, I will verify it myself and update Mi899, for now though, you can use the existing BIOS options, but as always, you are the only one responsible for all possible consequences.

[2021-07-07 16:49] #46 closed

[2021-07-31 21:05] Ecabmad opened #47 "X99 RS9 2630 V3 Freezes Randomly"
It's an B85 Chipset, i flashed x99 8MF -50/-50 Bios and everything was right but then it suddenly freeze, even during idle, sometimes 20 seconds after booting (even during the Windows startup screen) and sometimes 15 min while in the desktop for no reason, the specs of the system are an Nvidia 6600GT (temporary) and 4*4GB DDR4 ECC and a Crucial MX500.

In the Bios i can navigate without any issue.

[2021-07-31 22:34] miyconst commented on #47
Did you restore the BIOS defaults after flashing the modded BIOS? Does the system work 100% stable with the original BIOS?

[2021-08-01 20:06] Mariolabrador10 commented on #46
Hello @sidaonarua. I just got the same motherboard as you with the chipset c226. Have you been able to unlock turbo boost? I don't want to take the risk if nobody with this chipset has tried before. Which bios did you use? By the way, are you able to set your graphic interface to pcie 2.0, because I have 1.0 and I don't know how to change it.

Thanks for your help. It's great to find somebody with

[2021-08-02 20:26] Ecabmad commented on #47
I have the original BIOS as a *.bin file, can I flash, it from the BIOS itself without an OS?

[2021-08-02 20:41] miyconst commented on #47
No, but you can flash it using an MS-DOS bootable USB drive.

[2021-08-03 09:55] Ecabmad commented on #47
the one from mi899 Q87 would work on the B85?

[2021-08-03 12:42] miyconst commented on #47
Yes, it should be, but I can't guarantee.

[2021-08-13 08:10] #47 closed

[2021-08-13 08:11] #39 closed

[2021-08-23 18:07] Mariolabrador10 commented on #46
Hello @sidaonarua. I just got the same motherboard as you with the chipset c226. Have you been able to unlock turbo boost? I don't want to take the risk if nobody with this chipset has tried before. Which bios did you use? By the way, are you able to set your graphic interface to pcie 2.0, because I have 1.0 and I don't know how to change it.

Thanks for your help. It's great to find somebody with

[2021-08-23 18:16] Mariolabrador10 opened #48 "Machinist x99 RS9 with c226 chipset issue"
Hello. I just got the Machinist x99-rs9 motherboard with the chipset c226. Has anyone been able to unlock turbo boost? Which bios have you used? I read that it is compatible with b85 bios but I don't want to take the risk if nobody with this chipset has tried before.
Thanks for your help.

[2021-08-23 19:19] miyconst commented on #48
I have not had a chance to test a C226 motherboard, but others report that it works. If you would like to get more or faster feedback I invite you to join my Discord, the link can be found in my [YouTube channel's header](https://www.youtube.com/c/Miyconst).

I am closing the issue, since this is a general question, which is not related to Mi899 app.

[2021-08-23 19:19] #48 closed

[2021-08-24 15:46] TerrorrPL commented on #39
Hello, did You find solution for using 4gpu on this motherboard ?

[2021-09-17 20:59] lmspw opened #49 "undervolting w/o turboboost unlock (for v4 cpu)"
Hi, is it possible to do undervolting for my machinist rs9 without turboboost unlock to use v4cpu?

[2021-09-18 09:00] miyconst commented on #49
Hi there. I have not tried it myself, but this tool claims to have such a possibility - [Добавляем анлок в биос раз и навсегда через S3TurboTool](https://xeon-e5450.ru/socket-2011-3/e5-2600-v3/dobavlyaem-anlok-v-bios-raz-i-navsegda-cherez-s3turbotool/).

[2021-09-18 09:00] #49 closed

[2021-10-12 18:14] elvis-brandao commented on #43
Hello friend, could you let me know where I can find the .bin file for the bios of this [board](https://pt.aliexpress.com/item/4000974911783.html?spm=a2g0s.9042311.0.0.2742b90axNPXbK)? or some other compatible?
it has the x99 chipset itself, I looked at your comment below and the X99-8M-F is only downloadable for B85 and H81 chipsets.
I would be very grateful if you would help me, as I need to re-

[2021-10-14 11:48] miyconst commented on #43
@elvis-brandao here you will find answers for your questions:

[🇬🇧 Kllisre X99 (ZX_99EV3), where to get .bin or .rom BIOS? | Miyconst Answers 00](https://youtu.be/QwJil2AsJnU).

[2021-10-15 00:34] AVTK98 opened #50 "Post Code B7 after bios flash"
Description : X99-F8 Motherboard
BIOS Version : 1.0
Date : 2021-5-11

My system was working normally before I try to flash the tinkered Bios.
Processor: E5 2620V3
Memory: Atermiter 2x8GB DDR4 3200Mhz ECC ( Slot A1 and B1)

First I've backup my original Bios using Mi899 procedure.

Then I tried to flash the "Stock Huananzhi X99-F8, TU PEI -50/50mv", process completed successfully. After reboot I've

[2021-10-24 18:32] #50 closed, assigned to nobody

[2021-11-18 05:46] krisia06 opened #51 "Please Help ZX-99EV3_V1.31 KLX99109"
Hi. Thank You for your informative Youtube Channel.
I bought a generic X99 board with label above on box.
The board looks like Panshi X99-D4. Windows shows C610 chipset.

The firmware I saved with your program has ID: KLX99109.
Two issues I'm having are Linux cannot enable ECC.
(I purchased 1Rx4 8GB ECC ram kit for it) prime95 passes fine.
Do Not see any options in BIOS to enable ECC.

And USB 3.0

[2021-11-18 07:34] miyconst commented on #51
Hi. The following two videos answer your questions:

- https://youtu.be/QwJil2AsJnU
- https://youtu.be/HozIT2X-cKk

[2021-11-18 07:34] #51 closed

[2022-01-02 19:58] plancha2002 opened #52 "Kllisre x99 b5 support"
Hi, I just bought a kllisre x99 b5 and I want to do the turbo hack. I noticed that even Mi899 still does not have support for it, but in forums in vk I saw that there are people who have made bios for this. My fear is that I do not know to what extent this is reliable and I am waiting for it to be added to the program. Thank you very much and happy holidays.
Pd: sorry for the English this is trans

[2022-01-03 06:29] miyconst commented on #52
So far I do not plan to test X99-B5 as it seems to be exactly the same as X99-RS9 / X99 V201 / X99S-2011 / X99-H9 and other boards from this range, but if I get a chance, I will validate X99-B5 as well.

[2022-01-04 01:15] KredensKuchenny opened #53 "Machinist X99-RS9 + E5 2673 V3 - which Bios?"
Hi, which Bios will be good for Machinist X99-RS9 + E5 2673 V3 to make turbo unlock?
EDIT.
This is newest revision of this mobo (with LED screen debuger)

[2022-01-04 08:56] miyconst commented on #53
As far as I know, the new revision of X99-RS9 is still compatible with Huananzhi X99-8M-F BIOS, and this is what I would recommend. Undervolting level is individual per each CPU, but -70/50mv should be a safe start. Nevertheless, I think it's a very bad idea to run E5-2678 V3 on X99-RS9, especially with Turbo Boost Unlock.

[2022-01-04 08:56] #53 closed

[2022-01-05 00:28] plancha2002 commented on #52
oh, thanks :)

[2022-01-11 06:55] Billy1337 opened #54 "Bios Recommendation"
Hi there,

First off thanks for your hard work in creating the fixes and constant support for these chinese motherboards.
I have recently purchased a Machinist - X99 - RS9, now I have watched your video where you reviewed and mentioned you flashed the bios to fix USB 3 Issues, The cpu I have is the Xeon E5-2530 v3 and I have downloaded your software to flash the motherboard, upon discovering there

[2022-01-11 19:25] miyconst commented on #54
Hi @Billy1337.

I assume that you have got Xeon **E5-2630 V3** and not E5-2530 V3. In this case I would go with Huananzhi X99-8M-F BIOS with Turbo Boost Unlock using PEI method and -70/50mv undervolting.

This BIOS: [`huananzhi-x99-8m-f.tp.s3tt.7050.rom.zip`](https://github.com/miyconst/Mi899/blob/master/src/Mi899.Data/Bioses/huananzhi-x99-8m-f.tp.s3tt.7050.rom.zip).

[2022-01-11 19:25] #54 closed

[2022-01-16 14:31] KredensKuchenny commented on #53
So after flashing windows sometimes freeze on web browser / other programs... When i improve airflow i will try -60/50 (if exist) or -50/50 mV

[2022-01-17 20:59] miyconst commented on #53
Did you do the following after flashing a new BIOS?

- Power off PC.
- Clear CMOS.
- Power on PC.
- Go into the BIOS.
- Restore defaults.
- Save and reset.

[2022-01-17 21:10] KredensKuchenny commented on #53
No, after flashing a new BIOS I restore defaults only, but the issue is similar to https://github.com/miyconst/Mi899/issues/35
and exsist only when debug LED screen shows 73, when i see AA (after reboot) everything is good https://github.com/miyconst/Mi899/issues/38
73 error exist every time (on default BIOS too) but after reboot gone and change to AA

[2022-01-18 06:49] miyconst commented on #53
In this case the issue is not related to Turbo Boost Unlock and you need to isolate the problem. Most likely the motherboard is not functioning well.

[2022-01-20 22:44] KredensKuchenny commented on #53
Ok, i find problem which provoke 73 error. Switching fast boot on windows to off resolve issue with 73 error code. After that, new bios with UV + TU works good

[2022-01-20 22:51] miyconst commented on #53
Thank you for the info!

[2022-01-27 23:40] nmocruz opened #55 "any good Bios for ZX-DU99D4"
Hi, good bios for ZX-DU99D4? I dont need really the turbo boost. I wondering if any bios update/driver can solve the sleep mode problem. I can enable it on the bios but it has problems to awake up again.

[2022-01-28 07:49] miyconst commented on #55
I am sorry to say, but I don't have any better BIOS options for this motherboard, moreover, as far as I know, this is a hardware not software limitation.

[2022-01-28 07:49] #55 closed

[2022-01-28 08:40] nmocruz commented on #55
Ok, what BiOS exists for this model and what kind of improvements can be made beside the turbo.

[2022-01-31 19:22] Lucho20101 opened #56 "Machinist RS9 does'nt boot from m.2 nvme"
Hi, I got a Machinist RS9, after updating the original BIOS to -50/-50 mV version, the system won't boot from nvme, so I have to go to BIOS and restore factory defaults or clear CMOS and then the system boots normally from nvme, but it only happens the first time, after rebooting again, the system doesn't find a boot medium.
Is there any suggest?

[2022-01-31 19:53] miyconst commented on #56
Hi, this question is not related to Mi899, but this is how you fix it:

1. Shut down the computer.
2. Disconnect the power cord.
3. Disconnect all storage devices.
4. Turn on the computer.
5. Go to the BIOS and restore defaults.
6. Save changes and restart.
7. Go to the BIOS and apply any extra settings you wish, such as RAM timings. This is an optional step.
8. Turn off the computer and disconnec

[2022-01-31 19:53] #56 closed

[2022-02-16 01:18] bchan009 opened #57 "BIOS incompatibility?"
I am not sure why, but it seems like my Machinist X99-G7 is NOT compatible with Huananzhi X99-8M-F BIOS.

1) I flashed Huananzhi X99-8M-F TU 50-50 BIOS using Mi899, but got permanent black screen (bricked?) on boot.
2) I flashed stock Machinist X99-G7 BIOS with CH341a, everything working again.
3) I flashed Huananzhi X99-8M-F stock BIOS / TU 50-50 BIOS with CH341a, and both get black screen.
4) I

[2022-02-16 21:17] bchan009 commented on #57
I have done some more testing and even the Huananzhi X99-8M-T BIOS is not working 100% properly.

When using the X99-8M-T BIOS the system boots and runs properly, but it cannot do a full shut down.  Choosing 'Shut Down' in Windows leaves the motherboard still powered on.

I have reverted to the stock X99-G7 BIOS for now.  It seems like my particular board is not compatible with other BIOS files.

[2022-02-16 23:17] miyconst commented on #57
@bchan009 could you please check what is your motherboard chipset? Also it would be helpful if you could post detailed pictures of the motherboard.

Is there any chance you could check if the first PCI-E X1 slot works?

[2022-02-17 20:03] bchan009 commented on #57
@miyconst

Chipset is C226.  I will post some pictures when I have time this weekend.

[2022-02-22 20:52] bchan009 commented on #57
Here are some photos of my motherboard.  It doesn't seem to be any different from the others I have seen online.  Sadly I have no way to test the first PCI-E X1 slot.

I can't find any information about this BIOS chip online.  Might be a Chinese clone - flashing it as W25Q128FV seems to work.

![20220210_000326](https://user-images.githubusercontent.com/35556639/155217150-d14e4e70-e119-4a17-a772-9

[2022-03-03 21:54] felipemeamaral opened #58 "Does it work with JINGSHA X99 D8I?"
I know that JINGSHA D8 is supported, so I just want to make sure that it does work with the new JINGSHA X99 D8I.
Once again, thanks for your support and YouTube channel.

[2022-03-03 22:31] miyconst commented on #58
Sorry, I have not yet tested JingSha X99-D8I motherboard, thus I don't know.

[2022-03-03 22:31] #58 closed

[2022-03-05 19:21] wpyoga opened #59 "Huananzhi X99-T8 (new revision) compatibility"
Hello, and first of all thank you for the great tool and great selection of BIOS images. I have the new revision of Huananzhi X99-T8, with a Xeon E5-2696v3.

I tried flashing [huananzhi-x99-f8.tu.v3p50.ffs.mi8.rom.zip](https://github.com/miyconst/Mi899/blob/master/src/Mi899.Data/Bioses/huananzhi-x99-f8.tu.v3p50.ffs.mi8.rom.zip) and then [huananzhi-x99-f8.s3tt.5050.mi8.rom.zip](https://github.com/m

[2022-03-05 19:50] wpyoga commented on #59
I tried to find the optimal undervolt values using ThrottleStop. However, after I set an undervolt value, when I ran the CPU-Z benchmark again, the score will be lower at 68xx. During this time, I notice that the CPU multiplier is 28x. This persists until I reboot the machine, after which the CPU-Z score becomes 79xx again, and the CPU multiplier is 32x instead. Is there a better way to find the o

[2022-03-06 11:01] miyconst commented on #59
Hi.

The latest revision of Huananzhi X99-TF/F8/T8 motherboards is not compatible with the original BIOS.

You can try this BIOS:
https://github.com/BIOS-iEngineer/HUANANZHI-X99-F8-2021

I am working on the X99 status update video, but for now you have to implement Turbo Boost Unlock yourself.

[2022-03-06 11:01] #59 closed

[2022-03-06 13:17] wpyoga commented on #59
I'm trying to avoid using the CH341A programmer. Oh well, I'm looking forward to your video. Thanks!

[2022-03-15 18:46] HaYaToSkAn opened #60 "Kllisre and Bios"
Hello Genius of Chinese boards
I have some doubts to see if you can solve them
I have a Kllisre X99 V201 with an NVME M2 disk, I think that to flash the Bios I should use the huananzhi-x99-8m-f.tp.s3tt.5050 ?
Can I have any windows boot problem having a NVME M2 drive after flashing?
In case windows does not start, is there any solution, installing the factory bios or some other solution?
I've neve

[2022-03-15 21:54] miyconst commented on #60
@HaYaToSkAn hello.

Here are some answers, I hope it help.

1. **Do not touch the BIOS if you are afraid**.
2. Study the subject well and flash the BIOS only if you understand what you are doing.
3. Study the subject well and learn the difference between different BIOS mods. Pick the one that fits your motherboard & CPU.
4. If you system is installed in UEFI mode and fails to boot after a BIOS fla

[2022-03-15 21:54] #60 closed

[2022-04-01 05:27] jonnyloureiro opened #61 "Machinist k9 v2.0"
Hi dude!

I just got my machinist k9 v2 board and xeon e5-2650 v3, I'm super excited, have you done any version of turboboost unlocking and memory timings for this version? in your software you only have version 1.0. can you help me? I was thinking 50/50. what do you think?

best regards from your brazilian admirer. @miyconst

[2022-04-02 07:10] miyconst commented on #61
@jonnyloureiro this video has answers to all of your questions - [🇬🇧 PC with Machinist X99-K9 V2.0 and i7-5820k – BIOS, overclocking, tuning, review, and impressions](https://youtu.be/FhnGfcYrJRQ).

[2022-04-02 07:10] #61 closed

[2022-04-02 07:14] jonnyloureiro commented on #61
Tanks!

[2022-04-12 13:19] mondi31 opened #62 "BSOD after bios update. RS9-100/-50"
Hello,

Just updated my RS9's bios using mi899 and when I rebooted I am constantly being greeted by bsod. How can i revert to default bios. Please help. Thanks.

[2022-04-12 17:04] miyconst commented on #62
This video answers your question: [🇬🇧 How to restore your X99 Turbo-Unlocked system if it locks | Miyconst Answers 05](https://youtu.be/r2CXlt_qKVk).

[2022-04-12 17:04] #62 closed

[2022-04-25 23:51] hendrik21 commented on #52
hi! I bought the same motherboard and I see this issue is still open, I'm still waiting to get a power supply, so I can't check at the moment if this model appears in the database. @plancha2002 have you checked if this board is compatible with some of the previously mentioned?

[2022-05-08 14:30] Titansblack opened #63 "Intel Logo"
Please could you remove the intel inside logo from Machinist x99 rs9 roms. The logo aesthetically doesn't look pleasing. its too big

[2022-06-26 13:55] MagnoAlberto opened #64 "Unhandled exception has occurred"
I have a MACHINIST X99-MR9D PLUS with Xeon CPU E5-2670 v3 @ 2.30GHz, 2295 Mhz, and after opening the tool and performing a search to locate my mothercard, I get an "Unhandled exception", see below.

Unhandled exception has occurred in your application. If you
click Continue, the application will ignore this error and attempt
to continue. If you click Quit, the application will close
immediately.
O

[2022-07-02 06:31] miyconst commented on #64
Thank you for the report, the issue will be fixed in the next release.

[2022-07-03 01:09] BeheldX opened #65 "Support for Machinist X99 MR9S & MR9D"
Hey, I just wanted to ask if you plan to add support/already have support for the Machinist X99 MR9S and MR9D (and the Plus variants)? Or if one of the Huananzhi or other bioses work with them? They must be fairly new as I’ve scoured your channel and watched the longer video showcasing lots of the Chinese boards, and haven’t seen much about them. I know you already have support for the MR9A, and I

[2022-07-03 01:55] miyconst commented on #65
Machinist X99-MR9D has arrived to me about a month ago, here is an unboxing video: [Unboxing Machinist X99-MR9D](https://m.youtube.com/watch?v=3VJPngQMouM), I plan to test it soon.

Can't say much about the rest of the motherboards before I test them.

My Huananzhi X99-TF-Q review is going to be live soon.

[2022-07-03 01:55] #65 closed

[2022-07-03 21:40] miyconst commented on #64
Fixed in the `1.2.8` release.

[2022-07-03 21:40] #64 closed

[2022-07-28 22:07] Darkhelion opened #66 "kllisre zx-du99d4 v1.12 under linux/ubuntu"
Hello.
I buy a kllisre zx-du99d4 v1.12 with two xeon e5-2696 v3.

I have tested your procedure to flash the bios with the ffs drivers (v3x2_payne_0_0_.efi) and it's don't work (system don't boot) or i have missed something?

But it is possible to use the EFI drivers on ubuntu/linux? I have see the procedure for Windows, but i use this machine for Gaming Ubuntu server and i don't want to use window

[2022-07-29 13:43] leandrodeassis commented on #63
Just to let you know that this issue has also been fixed on the Machinist MR9A.

[2022-07-30 18:10] miyconst commented on #63
I have replaced the logo in all available X99-8M-F BIOS options.

[2022-07-30 18:10] #63 closed

[2022-07-30 18:13] miyconst commented on #66
Hi there.

First, I strongly recommend avoid all ZX- boards at all cost. This factory produces low quality products and does not bother to improve anything.

I had several contacts with their representatives, and every time their attitude is very ignorant and discouraging. Basically, they are aware about the quality issues, but don't want to do anything because people keep buying their products.

[2022-07-30 18:13] #66 closed

[2022-08-02 00:49] hackmannbr commented on #38
Same here.
Machinist x99-MR9D PLUS + 2690v3
First boot Error 73. After first boot (second reboot and others)  no more 73... Just  AA.
Did not notice any performance issue like miyconst said.
Cheerz.

[2022-08-02 08:50] miyconst commented on #38
You can get rid of the 73 code by disabling Windows Fast Boot: [How To Disable Fast Startup in Windows 10](https://help.uaudio.com/hc/en-us/articles/213195423-How-To-Disable-Fast-Startup-in-Windows-10).

[2022-08-04 15:09] hackmannbr commented on #38
Confirmed.
With fastboot off error 73 is no longer present. Two days testing. Just AA now.
Also fixed a problem that windows was booting twice, after a shutdown, to load the OS.
Cheerz miyconst.

[2022-08-14 20:23] kriss6557 opened #67 "Atermiter X99H support ?"
Hi @miyconst,
I just installed an Atermiter X99H v1.31 running BIOS version X99HA00E, with a Xeon E5-1650v3.
It looks like your utility doesn't cover this configuration.
Do you think there is chance you could support it, and don't know if my Xeon can run with lower voltage.

BTW, the Atermiter store on Aliexpress provided me the link to the latest BIOS update:
https://cowtransfer.com/s/1150fd266f6

[2022-08-15 17:37] miyconst commented on #67
Could you please paste a picture of the motherboard or link the AliExpress page. Atermiter is not a motherboard manufacturer, it's an AliExpress store name.

[2022-08-15 17:55] kriss6557 commented on #67
Here it is:
https://fr.aliexpress.com/item/1005003035860635.html?algo_exp_id=afae8a80-e6f8-43eb-8157-1155c662ad99-1&pdp_ext_f=%7B%22sku_id%22%3A%2212000023366953330%22%7D

BTW the BIOS link is and old version, older then the one installed on the board (X99HA00F)

[2022-08-15 18:08] miyconst commented on #67
I am sorry to say, but this motherboard won't get any support from me. These videos explain why:

- [🇬🇧 ZX_99EV3, ZX_MINX9D4, ZX_DU99D4, ZX_99D3A4 – please do not buy these motherboards](https://youtu.be/7Pyef_ySHwo).
- [🇬🇧 Review of Trash X99 (Kllisre, Machinist) LGA 2011-3 | E5-2620 V3 | Turbo Unlock | GTX 1660](https://youtu.be/mZHcdbmxI3s).

[2022-08-15 18:08] #67 closed

[2022-08-18 00:33] 3Dickulus opened #68 "Jginyue X99 D8 comos jumper"
The Jginyue X99 D8 motherboard has a cmos clear jumper but it doesn't have a header soldered in place. It seems to work though.

The header that is right next to the clear cmos jumper is the "Auto On" jumper. This jumper bypasses the front case switch relay and allows PSU switch to determine ON or OFF state. So if the PSU power switch is ON then it will power up and boot after a power failure. In

[2022-08-18 18:25] miyconst commented on #68
Thank you for the info!

[2022-08-18 18:25] #68 closed

[2022-09-20 16:46] SnowFeetus commented on #39
Sorry if Necroing is bad but I just got this working. There is an option for 4G decode, but you must disable all legacy BIOS settings first for it to work. (Stock bios has lots of useless clutter to sift through so it's understandable you missed it, should be in PCIe settings)

[2022-09-29 18:02] seakrebel opened #69 "Booting always to BIOS after BIOS Update"
I have a new Huananzhi X99-F8 which was working just fine, but I wanted to unlock more BIOS options and of course enable Turbo Boost.
After flashing TU FFS (tried -70/50mv, and 0/0), and tried using both flash tools, my PC is always booting automatically in BIOS.
Also tried resetting CMOS battery, as well as loading default config in BIOS, but it did not help.

Booting into Windows is still possib

[2022-10-02 18:19] miyconst commented on #69
The BIOS in Mi899 is from / for the first revision from of X99-F8, I am not sure if it's compatible with your motherboard.

I can suggest you to look at these BIOS options:

- [BIOS-iEngineer / HUANANZHI-X99-F8](https://github.com/BIOS-iEngineer/HUANANZHI-X99-F8).
- [BIOS-iEngineer / HUANANZHI-X99-F8-2021](https://github.com/BIOS-iEngineer/HUANANZHI-X99-F8-2021).

For the UEFI partition bug you ca

[2022-10-02 18:19] #69 closed

[2022-10-25 04:57] korichou opened #70 "HUANANZHI X99 F8"
Bonjour j'ai cette carte mère HUANANZHI X99 F8 qui fonctionne avec un Xeon 2697 v3 mais je ne dépasse pas 3100 GHz
Quel bios faut-il que j'utilise pour augmenter sa fréquence ?
Merci d'avance et bonne journée.

[2022-10-25 08:40] miyconst commented on #70
This video has the answers and explanations: [🇬🇧 LGA 2011-3 (X99) platform overview and status update in 2022 Q3](https://youtu.be/AW0QgQNbBwA).

[2022-10-25 08:40] #70 closed

[2022-11-12 04:20] slobele opened #71 "I cannot open the image files to see them big enough when I click on the motherboard images"
I think it looks like the reason is mixing linux like path separator with windows like, maybe you could prefix them with file://and place the path only "/" separated ? BTW I haven't read the source code I'm just guessing

[2022-11-13 18:50] miyconst commented on #71
Please specify what is your OS and what means "cannot"? Do you get an exception or nothing happens?

[2022-11-17 04:31] slobele commented on #71
yes, I have Windows, the exception is more or less that the file does not
exist and I think it is because it mixes / with back / in the file path. in
Windows paths such like file://path usin only / can work I think, maybe it
could be a possible solution ?

El dom, 13 de nov. de 2022 3:50 p. m., Kostiantyn Cherniavskyi <
***@***.***> escribió:

[2022-11-17 04:33] slobele commented on #71
BTW, thank you very much, it is a great work you do there

El jue, 17 de nov. de 2022 1:31 a. m., Sergio Lobel ***@***.***>
escribió:

[2022-11-17 17:49] Ant-Bugworks opened #72 "Jingsha X99 D8i mainboard"
Hi,
First of all, TOP WORK, you are doing a great things for the community!
i just got a new Jingsha X99 D8i mainboard and wanted to unlock the turbo but im am not sure if it is compatible with one of the already implemented bios.  Chipset is a x99 C612
Can it be implemented? should i provide any further infos? I included the original bios, maybe it helps
Cheers
Ant
[X99-D8I.zip](https://github.co

[2022-11-17 19:49] miyconst commented on #72
Hi there. Please join my Discord if you need help with Turbo Boost Unlock, I do not modify BIOS for motherboards that I have not tested myself.

[2022-11-17 19:49] #72 closed

[2022-11-17 19:50] miyconst commented on #71
I need some more info about the issue. Please attach some screenshots of what's going on and what kind of error you are getting.